@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

body { 
  font-family: 'Lato', Arial, sans-serif;
  font-size: 26px;
}
h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', 'Arial Narrow OS', Arial, sans-serif;
  font-weight: normal;
}